@font-face {
    font-family: 'League Gothic';
    src:url('leaguegothic-regular-webfont.woff') format('woff'); /* Legacy iOS */
  }

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #efefef;
    font-family: 'League Gothic', sans;
}
* {
    box-sizing: border-box;
}
path {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
line {
    stroke-linecap: round;
}
circle {
    fill: #fff;
}
form {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
}
button {
    grid-column: 1 / span 2;
}
label {
    text-align: right;
}
input, select, button {
    padding: 5px;
    background: #fff;
    border: 2px solid #c0c0c0;
    border-radius: 5px;
}
.hidden {
    display: none;
}
.poster {
    margin:10px;
}
header {
    background: #fff;
    width: 100%;
    padding: 20px;
}
h1 {
    font-size: 200%;
    font-weight: regular;
}
.loader {
    text-align: center;
    text-transform: uppercase;
    font-size: 80%;
}

text {
    font-size: 4px;
    font-family: 'League Gothic', sans;
}
/** Credit: https://loading.io/css/ **/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #222;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}